<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="container-fluid">
        <ul class="navbar-nav text-light">
            <li class="nav-item">
                <p th:text="${person.email} + ' with role:'">Email</p>
            </li>
            <li class="nav-item ms-2">
                <th:block th:each="role : ${person.getRoles()}" th:text="${role} + ' '">Roles</th:block>
            </li>
        </ul>
        <a class="btn btn-dark" th:href="@{/logout}" type="submit">Logout </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-1 col-xl-2 px-sm-1 px-0 bg-white">
            <div class="d-flex flex-column min-vh-100">
                <ul class="nav nav-pills nav-fill flex-column mb-sm-auto mb-0" id="menu">
                    <li class="nav-item">
                        <a th:if="${person.getRoles()}" class="nav-link active text-start" aria-current="page" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-start" href="/user">User</a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3 bg-body-secondary">
            <h1>Admin Panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-users" data-bs-toggle="tab" data-bs-target="#all-tab-pane"
                            type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="new-user" data-bs-toggle="tab" data-bs-target="#new-tab-pane"
                            type="button" role="tab" aria-controls="new-tab-pane" aria-selected="false">New user
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab"
                     tabindex="0">
                    <div class="container-fluid bg-body-secondary border border-2">
                        <h4>All users</h4>
                    </div>
                    <div class="container-fluid bg-white p-4 border border-2">
                        <table class="table border-top" id="userTable">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
<!--                создание нового юзера-->
                <div class="tab-pane fade" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab-pane"
                     tabindex="0">
                    <div class="container col-3 align-items-center mt-2">
                        <form id="createForm" th:method="POST" th:action="@{/admin/}" th:object="${user}" class="text-center" enctype="application/x-www-form-urlencoded">
                            <div class="mb-3">
                                <label for="firstname" class="form-label">Enter name:</label>
                                <input type="text" minlength="2" maxlength="20" class="form-control" th:field="*{firstName}" id="firstname"/>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Enter lastname:</label>
                                <input type="text" minlength="2" maxlength="20" class="form-control" th:field="*{lastName}" id="lastName"/>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Enter email:</label>
                                <input type="email" pattern="^+@+$" class="form-control" th:field="*{email}" id="email"/>
                                <span style="color: red" id="email-error" class="error-message"></span>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Enter password:</label>
                                <input type="password" class="form-control" th:field="*{password}" id="password"/>
                            </div>
                            <div class="mb-3">
                                <label for="takeRole" class="form-label">Role</label>
                            <select class="form-select" multiple th:size="${allRoles.size()}" th:field="*{roles}" id ="takeRole">
                                <option th:each="role : ${allRoles}" th:value="${role.id}"  th:text="${role.name.split('_')[1]}">role</option>
                            </select>
                            </div>
                            <input type="submit" class="btn btn-success" value="Add new user" id="addUserButton">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal" id="modal-edit"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user</h1>
                </div>
                <div class="modal-body">
                    <!--                                                Модальное окно-->
                    <form th:method="POST" th:action="@{/admin/update}"
                          th:object="${user}" class="text-center" id="editForm" >
                        <div class="container col-6 align-items-center mt-2">
                            <input type="hidden" id="editId" value="-1">
                            <div class="mb-3">
                                <label for="editFirstname" class="form-label">Enter
                                    name:</label>
                                <input type="text" class="form-control"\
                                       minlength="2"
                                       maxlength="20"
                                       name="firstName"
                                       value="firstName"
                                       id="editFirstname"/>
                            </div>
                            <div class="mb-3">
                                <label for="editLastName" class="form-label">Enter
                                    lastname:</label>
                                <input type="text" class="form-control"
                                       minlength="2"
                                       maxlength="20"
                                       name="lastName"
                                       value="lastName"
                                       id="editLastName"/>
                            </div>
                            <div class="mb-3">
                                <label for="editEmail" class="form-label">Enter
                                    email:</label>
                                <input type="email" class="form-control"
                                       pattern="^+@+$"
                                       name="email"
                                       value="email"
                                       id="editEmail"/>
                            </div>
                            <div class="mb-3">
                                <label for="editPassword" class="form-label">Enter
                                    password:</label>
                                <input type="password" class="form-control"
                                       name="password"
                                       value="password"
                                       id="editPassword"/>
                            </div>
                            <div class="mb-3">
                                <label for="editRole"
                                       class="form-label">Role</label>
                                <select type class="form-select" multiple
                                        th:size="${allRoles.size()}"
                                        th:name="roles"
                                        th:value="roles"
                                        id="editRole">
                                    <option th:each="role : ${allRoles}"
                                            th:value="${role.getId()}"
                                            th:text="${role.name.split('_')[1]}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal" id="close_button">Close
                            </button>
                            <button type="submit" class="btn btn-primary ms-2" th:text="Delete" id="sendEditOrDelete">
                                ****
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>
<script>
    // Получить элемент кнопки по id
    var closeButton = document.getElementById("close_button");

    // Добавить обработчик события click
    closeButton.addEventListener("click", function() {
        // Закрыть модальное окно
        var modal = document.getElementById("modal-edit");
        modal.style.display = "";
    });
</script>
<script>
    // Функция для выполнения запроса к API сервера и обновления таблицы
    function updateUserTable() {
        var userTable = document.getElementById("userTable");
        var tbody = userTable.querySelector("tbody");

        // Очищаем существующие строки таблицы
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }

        // Выполняем запрос к API серверу
        fetch('/api')
            .then(response => response.json())
            .then(data => {
                data.forEach(function(user) {
                    var row = tbody.insertRow();
                    row.insertCell(0).textContent = user.id;
                    row.insertCell(1).textContent = user.firstName;
                    row.insertCell(2).textContent = user.lastName;
                    row.insertCell(3).textContent = user.email;
                    var rolesCell = row.insertCell(4);
                    user.roles.forEach(function(role) {
                        rolesCell.textContent += role.name.split('_')[1] + ' ';
                    });

                    var editButton = document.createElement("button");
                    editButton.textContent = "Edit";
                    editButton.className = "btn btn-primary";
                    editButton.setAttribute("data-id", user.id);
                    editButton.addEventListener("click", function(){
                        // Настройка формы
                        var modal = document.getElementById("modal-edit");
                        modal.querySelector("#exampleModalLabel").textContent = "Edit user";
                        modal.style.display = "block";

                        var button = document.getElementById("sendEditOrDelete");
                        button.textContent = "Edit";
                        button.className = "btn btn-primary ms-2"


                        var roleSelect = modal.querySelector("#editRole");
                        var roles = Array.from(roleSelect.options);

                        console.log("User roles:", user.roles);

                        roles.forEach(function (option) {
                            var roleId = parseInt(option.value);
                            var isSelected = user.roles.some(role => role.id == roleId);
                            console.log("Role ID:", roleId, "Is Selected:", isSelected);
                            option.selected = isSelected;
                        });

                        console.log("Selected roles in the select:", Array.from(roleSelect.selectedOptions).map(function(option) {
                            return option.value;
                        }));
                        modal.querySelector("#editId").value = user.id;
                        modal.querySelector("#editFirstname").value = user.firstName;
                        modal.querySelector("#editLastName").value = user.lastName;
                        modal.querySelector("#editEmail").value = user.email;
                        modal.querySelector("#editPassword").value = user.password;
                        modal.querySelectorAll("input").forEach(elem => elem.readOnly = false);
                    });
                    row.insertCell(5).appendChild(editButton);

                    var deleteButton = document.createElement("button");
                    deleteButton.textContent = "Delete";
                    deleteButton.className = "btn btn-danger";
                    editButton.setAttribute("data-id", user.id);

                    deleteButton.addEventListener("click", function() {
                        var modal = document.getElementById("modal-edit");
                        modal.querySelector("#exampleModalLabel").textContent = "Delete user";
                        modal.style.display = "block";
                        var button = document.getElementById("sendEditOrDelete");
                        button.textContent = "Delete";
                        button.className = "btn btn-danger ms-2"

                        var roleSelect = modal.querySelector("#editRole");
                        var roles = Array.from(roleSelect.options);

                        console.log("User roles:", user.roles);

                        roles.forEach(function (option) {
                            var roleId = parseInt(option.value);
                            var isSelected = user.roles.some(role => role.id == roleId);
                            console.log("Role ID:", roleId, "Is Selected:", isSelected);
                            option.selected = isSelected;
                        });

                        console.log("Selected roles in the select:", Array.from(roleSelect.selectedOptions).map(function(option) {
                            return option.value;
                        }));
                        modal.querySelector("#editId").value = user.id;
                        modal.querySelector("#editFirstname").value = user.firstName;
                        // modal.querySelector("#editFirstname").readOnly = true;
                        modal.querySelector("#editLastName").value = user.lastName;
                        modal.querySelector("#editEmail").value = user.email;
                        modal.querySelector("#editPassword").value = user.password;
                        modal.querySelectorAll("input").forEach(elem => elem.readOnly = true);
                    });
                    row.insertCell(6).appendChild(deleteButton);
                });
            })
            .catch(error => {
                console.error('Ошибка при запросе к API: ', error);
            });
    }

    // Вызов функции для обновления таблицы при загрузке страницы
    updateUserTable();
</script>
<script>
    document.getElementById("editForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Отменяет стандартное поведение отправки формы
        var button = document.getElementById("sendEditOrDelete");
        // Собираем данные из формы
        var formData = {
            id: document.getElementById("editId").value,
            firstName: document.getElementById("editFirstname").value,
            lastName: document.getElementById("editLastName").value,
            email: document.getElementById("editEmail").value,
            password: document.getElementById("editPassword").value,
            roles: Array.from(document.getElementById("editRole").selectedOptions).map(option => ({ id: option.value}))
        };

        // Преобразуем данные в JSON
        var jsonData = JSON.stringify(formData);
        console.log(jsonData);

        if (button.innerText == "Edit"){
            URL = "/api/edit";
        }else {
            URL = "/api/delete";
        }
        console.log(URL);
        fetch(URL, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    updateUserTable();
                    return response.text(); // Возвращает текстовый ответ
                } else {
                    throw new Error("Network response was not ok");
                }
            })
            .then(data => {
                // Обработка успешного ответа
                console.log(data);
            })
            .catch(error => {
                // Обработка ошибки
                console.error("Ошибка: " + error.message);
            });
        var modal = document.getElementById("modal-edit");
        modal.style.display = "none";
    });

</script>
<script>
        document.getElementById("createForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Отменяет стандартное поведение отправки формы

            // Сброс сообщений об ошибках перед валидацией
            document.querySelectorAll('.error-message').forEach(element => {
                element.textContent = '';
            });

            // Собираем данные из формы
        var formData = {
        firstName: document.getElementById("firstname").value,
        lastName: document.getElementById("lastName").value,
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
        roles: Array.from(document.getElementById("takeRole").selectedOptions).map(option => ({ id: option.value}))
    };

        // Преобразуем данные в JSON
        var jsonData = JSON.stringify(formData);
        console.log(jsonData);

        fetch("/api/create", {
        method: "POST",
        headers: {
        'Content-Type': 'application/json'
    },
        body: jsonData
    })
        .then(response => {
            if (response.ok) {
                updateUserTable();
                return response.text(); // Возвращает текстовый ответ
            } else {
                response.json().then(data =>
                {
                    if (data.message.split(":")[0] === "email") {
                        document.getElementById('email-error').textContent = data.message.split(":")[1];
                    }
                }
                );
            }
        })
    });
</script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <style>-->
<!--        /* Ваш CSS стиль здесь */-->
<!--        .top-right {-->
<!--            position: absolute;-->
<!--            top: 10px;-->
<!--            right: 10px;-->
<!--        }-->

<!--        /* Стиль для таблицы остается неизменным */-->
<!--        .user-table {-->
<!--            width: 100%;-->
<!--            border-collapse: collapse;-->
<!--        }-->

<!--        .user-table th, .user-table td {-->
<!--            border: 1px solid #000;-->
<!--            padding: 5px;-->
<!--            text-align: center;-->
<!--        }-->

<!--        .user-table th {-->
<!--            font-size: 24px;-->
<!--            background-color: lightgray;-->
<!--        }-->

<!--        .user-container {-->
<!--            display: table-row;-->
<!--        }-->

<!--        .user-container h1 {-->
<!--            font-size: 14px;-->
<!--        }-->

<!--        .button-container {-->
<!--            display: table-cell;-->
<!--            vertical-align: middle;-->
<!--        }-->

<!--        .button-container form {-->
<!--            display: inline;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="top-right">-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->
<!--<br/>-->
<!--<div>-->
<!--    <table class="user-table">-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>LastName</th>-->
<!--            <th>Email</th>-->
<!--            <th>Actions</th>-->
<!--        </tr>-->
<!--        <th:block th:each="user : ${users}">-->
<!--            <tr class="user-container">-->
<!--                <td><h1 th:text="${user.getFirstName()}">FirstName</h1></td>-->
<!--                <td><h1 th:text="${user.getLastName()}">LastName</h1></td>-->
<!--                <td><h1 th:text="${user.getEmail()}">Email</h1></td>-->
<!--                <td class="button-container">-->
<!--                    <form th:action="@{/admin/edit}">-->
<!--                        <button type="submit" th:name="id" th:value="${user.getId()}">Edit</button>-->
<!--                    </form>-->
<!--                    <form th:method="POST" th:action="@{/admin/delete}">-->
<!--                        <button type="submit" th:name="id" th:value="${user.getId()}">Delete</button>-->
<!--                    </form>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->

<!--    <br/>-->
<!--    <hr/>-->
<!--    <a href="/admin/new">Create new User</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
